<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>BalanceServlet</display-name>
    <servlet-name>BalanceServlet</servlet-name>
    <servlet-class>com.banking.controller.BalanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BalanceServlet</servlet-name>
    <url-pattern>/balance</url-pattern>
  </servlet-mapping>
  <display-name>bankingapp1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>WithdrawServlet</servlet-name>
    <servlet-class>com.banking.controller.WithdrawServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.banking.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CloseAccountServlet</servlet-name>
    <servlet-class>com.banking.controller.CloseAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterCustomerServlet</servlet-name>
    <servlet-class>com.banking.controller.RegisterCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DepositServlet</servlet-name>
    <servlet-class>com.banking.controller.DepositServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>com.banking.controller.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.banking.controller.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditCustomerServlet</servlet-name>
    <servlet-class>com.banking.controller.EditCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawServlet</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CloseAccountServlet</servlet-name>
    <url-pattern>/closeAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterCustomerServlet</servlet-name>
    <url-pattern>/registerCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DepositServlet</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/customerLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/changePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditCustomerServlet</servlet-name>
    <url-pattern>/EditCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAll</display-name>
    <servlet-name>ViewAll</servlet-name>
    <servlet-class>com.banking.controller.ViewAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAll</servlet-name>
    <url-pattern>/viewall</url-pattern>
  </servlet-mapping>
</web-app>